<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Press-Up</string>
		<key>colorHexName</key>
		<string>#ff00ff</string>
		<key>sets</key>
		<array>
			<dict>
				<key>repCount</key>
				<integer>600</integer>
				<key>doneAt</key>
				<date>2014-10-08T07:57:34Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>75</integer>
				<key>doneAt</key>
				<date>2014-10-09T07:58:46Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>500</integer>
				<key>doneAt</key>
				<date>2014-10-10T08:02:53Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>100</integer>
				<key>doneAt</key>
				<date>2014-10-11T08:03:25Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>100</integer>
				<key>doneAt</key>
				<date>2014-10-12T08:04:01Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>80</integer>
				<key>doneAt</key>
				<date>2014-10-13T08:04:42Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>95</integer>
				<key>doneAt</key>
				<date>2014-10-14T08:04:42Z</date>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pull-Up</string>
		<key>colorHexName</key>
		<string>#00ff04</string>
		<key>sets</key>
		<array>
			<dict>
				<key>repCount</key>
				<integer>2</integer>
				<key>doneAt</key>
				<date>2014-10-08T07:57:34Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>1</integer>
				<key>doneAt</key>
				<date>2014-10-10T08:02:53Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>1</integer>
				<key>doneAt</key>
				<date>2014-10-12T08:04:01Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>1</integer>
				<key>doneAt</key>
				<date>2014-10-14T08:04:42Z</date>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>leg-press</string>
		<key>colorHexName</key>
		<string>#1338bf</string>
		<key>sets</key>
		<array>
			<dict>
				<key>repCount</key>
				<integer>50</integer>
				<key>doneAt</key>
				<date>2014-10-08T07:57:34Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>100</integer>
				<key>doneAt</key>
				<date>2014-10-09T07:58:46Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>50</integer>
				<key>doneAt</key>
				<date>2014-10-11T08:03:25Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>30</integer>
				<key>doneAt</key>
				<date>2014-10-12T08:04:01Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>30</integer>
				<key>doneAt</key>
				<date>2014-10-13T08:04:42Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>50</integer>
				<key>doneAt</key>
				<date>2014-10-14T08:04:42Z</date>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Crunch</string>
		<key>colorHexName</key>
		<string>#d70318</string>
		<key>sets</key>
		<array>
			<dict>
				<key>repCount</key>
				<integer>70</integer>
				<key>doneAt</key>
				<date>2014-10-08T07:57:34Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>75</integer>
				<key>doneAt</key>
				<date>2014-10-09T07:58:46Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>20</integer>
				<key>doneAt</key>
				<date>2014-10-11T08:03:25Z</date>
			</dict>
			<dict>
				<key>repCount</key>
				<integer>10</integer>
				<key>doneAt</key>
				<date>2014-10-13T08:04:42Z</date>
			</dict>
		</array>
	</dict>
</array>
</plist>
